.with-bg {
    background: radial-gradient(circle, #7c000a 50%, transparent 51%);
    background-position: center;
    background-size: calc(100% + 8px) calc(100% + 8px);
    /* Extend into padding */
    background-clip: padding-box;
    padding: 0px 4px;
    margin-right: 6px;
}
.RadixNavigationMenuRoot {
    top: 16px;
    position: fixed;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100vw;
    z-index: 1;
}

.RadixNavigationMenuList {
    display: flex;
    justify-content: center;
    background-color: var(--accent-9);
    padding: 5px 20px;
        border-radius: 20px;
    list-style: none;
    margin: 0;
    box-shadow: var(--shadow-1);
}

.RadixNavigationMenuTrigger,
.RadixNavigationMenuLink {
    padding: 7px 16px;
    outline: none;
    user-select: none;
    font-weight: 500;
    line-height: 1;
    border-radius: 20px;
    color: var(--black-1);
}

.RadixNavigationMenuTrigger:focus,
.RadixNavigationMenuLink:focus {
    box-shadow: 0 0 0 2px var(--violet-7);
}

.RadixNavigationMenuTrigger:hover,
.RadixNavigationMenuLink:hover {
    background-color: #FDD3D0;
}

.RadixNavigationMenuTrigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}

.RadixNavigationMenuLink {
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    font-size: 15px;
    line-height: 1;
}

.RadixNavigationMenuContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation-duration: 250ms;
    animation-timing-function: ease;
}

.RadixNavigationMenuContent[data-motion="from-start"] {
    animation-name: enterFromLeft;
}

.RadixNavigationMenuContent[data-motion="from-end"] {
    animation-name: enterFromRight;
}

.RadixNavigationMenuContent[data-motion="to-start"] {
    animation-name: exitToLeft;
}

.RadixNavigationMenuContent[data-motion="to-end"] {
    animation-name: exitToRight;
}

@media only screen and (min-width: 600px) {
    .RadixNavigationMenuContent {
        width: auto;
    }
}
.active-link {
    color: #900B09;
}

.active-link:hover {
    background-color: transparent;
}